html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
}

#container-iframe-videotaping, 
#fad-iframe-videotaping {
  width: 100%;
  height: 100%;
}

#container-result {
  display: none;
  flex-direction: column;
  font-family: system-ui;
  margin: 5%;
  max-width: 100%;
  word-break: break-all;
}

a{
  display: block;
}